{% if site.navigation_footer %}
<nav class="nav nav--footer">
  <div class="nav-container">
    {% for item in site.navigation_footer %}
      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <a href="{{ url }}" class="nav-item{% if item.url == page.url %} nav-item--current{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </div>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}
